# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://migwoyzxpaxrxhgnejbl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZ3dveXp4cGF4cnhoZ25lamJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMTU4NjEsImV4cCI6MjA5MTc5MTg2MX0.m5J6Y_Wh9VOvtkiPnTzOhxw8ePIPxI8waB4kxTzpm5A

# Opcional: URL do app (para produção)
NEXT_PUBLIC_APP_URL=http://localhost:3000